* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/*navigation bar*/
#navbar {
    background-color: #04101d;
    height: 60px;
    color: white;
    text-align: right;
    align-content: center;
    margin: 0;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
}

nav a {
    font-size: 1.5rem;
    font-family: Verdana;
    color: white;
    margin-right: 50px;
    text-decoration: none;
}

nav a:hover {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    cursor: pointer;
}
/*welcome-section*/
#welcome-section {
    font-family: sans-serif;
    font-size: 100px;
    color: white;
    text-align: center;
    background-image: linear-gradient(62deg, #202025 0%, #21212d 100%);
    height: 33vh;
    min-height: 1000px;
    align-content: center;
    margin: 0;
    width: 100vw;
}
#welcome-section #sub-header {
    font-size: 40px;
    margin-top: 40px;
    color: #7e7e7e;
}

/*about*/

.about {
    font-family: sans-serif;
    font-size: 35px;
    color: #d9d7d1;
    text-align: center;
    background-image: linear-gradient(62deg, #222227 0%, #04041b 100%);
    height: 16.66vh;
    min-height: 500px;
    align-content: center;
    margin: 0;
    width: 100vw;
}

/*projects*/

.projects {
    background-image: linear-gradient(62deg, #ffffff 0%, #edf7fd 100%);
    height: 33vh;
    min-height: 1000px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    position: relative;
    
    
    
    
}

#project-tile {
     
    color: white;
    font-family: Verdana;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    line-height: 600px;
    width: 600px;
    height: 600px;
    margin: auto auto auto auto;
    border: 0;
    border-radius: 10px;
    
}

.one {
    background-image: url(Images/Javascript_Logo.jpg);
    background-size: 600px;
}

.two {
    background-image: url(Images/Javascript_Logo.jpg);
    background-size: 600px;
}
.three {
    background-image: url(Images/Javascript_Logo.jpg);
    background-size: 600px;
}
.four {
    background-image: url(Images/Javascript_Logo.jpg);
    background-size: 600px;
}

#section-divider {
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-family: sans-serif;
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 50px;
    
}

#project-tile a {
    text-decoration: none;
    color: #d9d7d1;

}

#project-tile a:hover {
    text-decoration: underline;

}
@media (max-width: 2415px) {
    .projects {
        min-height: 1800px;
        }
}

@media (max-width: 1215px) {
    .projects {
        min-height: 3600px;
        }
}

@media (max-width: 1620px) {
    #section-divider {
        margin-top: 50px;
    }
}

/*Contact*/

.contact-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    position: relative;
    background-image: linear-gradient(62deg, #2b2b2e 0%, #282832 100%);
    height: 16.66vh;
    min-height: 500px;
    color: #d9d7d1;
}

#contact-box {
    font-size: 25px;
    color: #d9d7d1;
    font-family: verdana;
    margin: 50px auto;
}

#contact-box #contact-content {
    font-size: 20px;
    margin-top: 100px;
}

#contact-box #contact-content a {
    color: #d9d7d1;
    text-decoration: none;
} 

#contact-box #contact-content a:hover {
    color: #d9d7d1;
    text-decoration: underline;
} 

