* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

/*navigation bar*/
#navbar {
    background-image: linear-gradient(62deg, #21212d 0%, #091037 100%);
    height: 5%;
    color: white;
    text-align: right;
    align-content: center;
    margin: 0;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
}

nav a {
    font-size: 1.5rem;
    font-family: Verdana;
    color: white;
    margin-right: 2%;
    text-decoration: none;
}

nav a:hover {
    font-size: 1.5rem;
    color: transparent;
    -webkit-text-stroke: 2px white;
    cursor: pointer;
}

@media (max-width: 700px) {
    nav a { 
        font-size: 1rem;
    }
}

@media (max-width: 700px) {
    nav a:hover { 
        font-size: 1.1rem;
    }
}


.banner-one {
    
    background-image: url(Images/banner..jpg);
    background-size: cover; /* Ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image within the element */
    height: 50vh;
    width: 100%;
    align-content: center;
    text-align: center;
    min-height: unset;    
  }

  #my-name {
    color: white;
    font-family: Verdana;
    font-size: 4rem;
  }

#my-name:hover {
    color: transparent;
    -webkit-text-stroke: 2px white;
    font-size: 4.5rem;
  }

  .banner-two {
    
    background-image: linear-gradient(62deg, rgb(242, 243, 250) 0%, rgb(224, 226, 233) 100%);
    height: 25vh;
    width: 100%; 
    min-height: 300px;  
    align-items: center;
    align-content: center; 
    text-align: center; 
  }

.about h1 {
    font-family: sans-serif;
    font-size: 2rem;
    color: black;
}
.about h2 {
    font-family: sans-serif;
    font-size: 1.3rem;
    color: grey;
}

@media (max-width: 1000px) {
    .about h1 {
        font-size: 1rem;
    }

}
@media (max-width: 1000px) {
    .about h2 {
        font-size: 0.8rem;
    }

}


.banner-three {
  background-image: url(Images/banner2.jpg);
  width: 100%; 
  min-height: 600px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center; 
  flex-direction: row;
  padding-left: 3vw;  
  padding-right: 3vw; 
  padding-top: 10px;   
  padding-bottom: 10px;     
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
} 

.border {
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: conic-gradient(from var(--angle), red, blue, red);
    width: 302px;
    height: 302px;
    border-radius: 10px;
    position: relative;
    z-index: 0;
    animation: 3s spin linear infinite;
    margin: 10px 0px 10px 0px;
}
.border::before {
    
    content: '';
    background-image: conic-gradient(from var(--angle), red, blue, red);
    width: 302px;
    height: 302px;
    filter: blur(0.5rem);
    opacity: 0.8;
    position: absolute;
    z-index: -1; 
    animation: 3s spin linear infinite;
} 

@keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;

    }
}
if (CSS.supports('property', 'width')) {
    CSS.registerProperty({
        name: '--angle',
        syntax: '<angle>',
        initialValue: '0deg',
        inherits: false
    });
}

#project-tile {
    color: white;
    text-decoration: none;
    font-family: Verdana;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    line-height: 520px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    z-index: 1;

}




@media (max-width: 1950px) {
    .banner-three {
        flex-direction: column;
    }
}

.one {
    background-image: url(Images/Roleplaying.jpg);
    background-size: 300px;
}

.two {
    background-image: url(Images/CalorieCounter.jpg);
    background-size: 300px;
}
.three {
    background-image: url(Images/MusicPlayer.jpg);
    background-size: 300px;
}
.four {
    background-image: url(Images/Palindrome.jpg);
    background-size: 300px;
}
.five {
    background-image: url(Images/UserFilter.jpg);
    background-size: 300px;
}
.six {
    background-image: url(Images/ToDo.jpg);
    background-size: 300px;
}


#project-tile a {
    text-decoration: none;
    color: #fffefd;

}

#project-tile a:hover {
    
    color: white;
    -webkit-text-stroke: 1px white;
    font-size: 1.4rem;

}

/*media queries for project tiles*/


.banner-four {
  
  background-image: url(Images/banner..jpg);
  height: 25vh;
  width: 100%;    
  min-height: 400px;          
}

/*Contact*/

.contact-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    position: relative;
    background-image: url(Images/banner..jpg);

    min-height: 500px;
    color: #d9d7d1;
}

#contact-box {
    
    color: #d9d7d1;
    font-family: verdana;
    margin: 25px auto;
}

#contact-box #contact-content {
    font-size: 20px;
    margin-top: 100px;
}

#contact-box #contact-content a {
    color: #d9d7d1;
    text-decoration: none;
} 

#contact-box #contact-content a:hover {
    color: #d9d7d1;
    text-decoration: underline;
} 

@media (max-width: 1700px) {
    #contact-box {
        font-size: 15px;
        
    }
}
@media (max-width: 1700px) {
    #contact-box #contact-content {
        font-size: 15px;
        margin-top: 1rem;
    }
}
@media (max-width: 1200px) {
    .contact-details {
        flex-direction: column;
    }
}
